body {
    padding-top: 5rem;
}

.cardDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    margin-top: 3%;
    flex: 0 1 calc(50%-1em);
}

.card-footer{
    background-color:cadetblue;
}

.link{
    display:inline-block;
    width: 100%;
    background-color: inherit;
    color: white;
}