{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('get_image', filename=property.photoname)}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ property.title }}</h5>
          <span class="label1">{{ property.price }}</span> 
          <span class="label2">{{ property.type }}</span>
          <p class="card-text">{{ property.description }}</p>

          <img src="{{ url_for('static', filename='bed.png') }}" width="25px" height="25px">
          <span class="label2">{{ property.noBedRooms}} Bedrooms</span>
          <img src="{{ url_for('static', filename='bath.png') }}" width="25px" height="25px">
          <span class="label2">{{ property.noBathRooms }} Bathrooms</span>
          <br>
          <img src="{{ url_for('static', filename='location.png') }}" width="25px" height="25px">
          <span> {{property.location}} </span>
          <button class="btn btn-primary"> Email Retailor </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}